body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
}
p{
    text-align: center;
}
.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 120px;
    height: 120px;
    margin-right: 15px;
    vertical-align: middle;
}

.form-container {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1.1em;
    color: #333;
    width: 100%;
}

button {
    padding: 12px 20px;
    background: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    width: 100%;
}

button:hover {
    background: #5cb85c;
    transform: translateY(-3px);
}

.balance-info p {
    color: #333;
    font-size: 1.2em;
    margin-top: 20px;
}

.alert {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f8ff;
    border-left: 5px solid #5a3f91;
    font-size: 1.1em;
    color: #333;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    color: #764ba2;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s, transform 0.3s;
}

back-button:hover {
    color: #5a3f91;
    transform: translateY(-3px);
}
